<!DOCTYPE html>
<html>
<head>
    <title>Error Page</title>
</head>
<body>
    <h1>Bing Error</h1>
    <div class="card">
    <a href="" class="nav-link">Error Page</a>
    </div>
    <p>{{ errorMessage }}</p>
</body>
</html>