<!DOCTYPE html>
<html lang="fr">
  {% block head %}
    <head>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
      <meta name="description" content=""/>
      <meta name="author" content=""/>
      <title>Adjoukou Dashboard</title>
      <link href="/../mon-blog/public/css/adminStyles.css" rel="stylesheet"/>
      <link rel="icon" type="image/x-icon" href="/../mon-blog/public/assets/img/logo.png"/>
      <script data-search-pseudo-elements="data-search-pseudo-elements" defer="defer" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.css" rel="stylesheet">
    </head>
  {% endblock %}

  <body class="nav-fixed">
    {% block body %}
      {% block nav %}
      <nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
        <!-- Sidenav Toggle Button-->
        <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle">
          <i data-feather="menu"></i>
        </button>
        <!-- Navbar Brand-->
        <!-- * * Tip * * You can use text or an image for your navbar brand.-->
        <!-- * * * * * * When using an image, we recommend the SVG format.-->
        <!-- * * * * * * Dimensions: Maximum height: 32px, maximum width: 240px-->
        <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="/../mon-blog/adminDashboard">Espace Admin</a>
        <!-- Navbar Items-->
        <ul class="navbar-nav align-items-center ms-auto">
          <!-- Navbar Search Dropdown-->
          <!-- * * Note: * * Visible only below the lg breakpoint-->
          <li class="nav-item dropdown no-caret me-3 d-lg-none">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="searchDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i data-feather="search"></i>
            </a>
            <!-- Dropdown - Search-->
            <div class="dropdown-menu dropdown-menu-end p-3 shadow animated--fade-in-up" aria-labelledby="searchDropdown">
              <form class="form-inline me-auto w-100">
                <div class="input-group input-group-joined input-group-solid">
                  <input class="form-control pe-0" type="text" placeholder="Recherche" aria-label="Recherche" aria-describedby="basic-addon2"/>
                  <div class="input-group-text">
                    <i data-feather="search"></i>
                  </div>
                </div>
              </form>
            </div>
          </li>
          <!-- User Dropdown-->
          <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" src="/../mon-blog/public/assets/img/illustrations/profiles/profile-1.png"/></a>
            <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
              {% if user is defined and user is not null %}
                <h6 class="dropdown-header d-flex align-items-center">
                  <img class="dropdown-user-img" src="/../mon-blog/public/assets/img/illustrations/profiles/profile-1.png"/>
                  <div class="dropdown-user-details">

                    <div class="dropdown-user-details-name">{{ user.userName }}</div>
                    <div class="dropdown-user-details-email">{{ user.email }}</div>

                  </div>
                </h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#!">
                  <div class="dropdown-item-icon">
                    <i data-feather="settings"></i>
                  </div>
                  Profile
                </a>
                <a class="dropdown-item" href="/../mon-blog/logout">
                  <div class="dropdown-item-icon">
                    <i data-feather="log-out"></i>
                  </div>
                  Déconexion
                </a>
              {% endif %}
            </div>
          </li>
        </ul>
      </nav>
    {% endblock %}
      <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
          <nav class="sidenav shadow-right sidenav-dark">
            <div class="sidenav-menu">
              <div class="nav accordion" id="accordionSidenav">
                <!-- Sidenav Menu Heading (Account)-->
                <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                <div class="sidenav-menu-heading d-sm-none">Comptes</div>
                <!-- Sidenav Link (Alerts)-->
                <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                <a class="nav-link d-sm-none" href="#!">
                  <div class="nav-link-icon">
                    <i data-feather="bell"></i>
                  </div>
                  Alerts
                  <span class="badge bg-warning-soft text-warning ms-auto">4 New!</span>
                </a>
                <!-- Sidenav Link (Messages)-->
                <!-- * * Note: * * Visible only on and above the sm breakpoint-->
                <a class="nav-link d-sm-none" href="#!">
                  <div class="nav-link-icon">
                    <i data-feather="mail"></i>
                  </div>
                  Messages
                  <span class="badge bg-success-soft text-success ms-auto">2 New!</span>
                </a>
                <!-- Sidenav Heading (Custom)-->
                <div class="sidenav-menu-heading">Gestion de Profils</div>
                <!-- Sidenav Accordion (Pages)-->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                  <div class="nav-link-icon">
                    <i data-feather="settings"></i>
                  </div>
                  Profils
                  <div class="sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                  </div>
                </a>
                <div class="collapse" id="collapsePages" data-bs-parent="#accordionSidenav">
                  <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">
                    <!-- Nested Sidenav Accordion (Pages -> Account)-->
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAccount" aria-expanded="false" aria-controls="pagesCollapseAccount">
                      Comptes Admin
                      <div class="sidenav-collapse-arrow">
                        <i class="fas fa-angle-down"></i>
                      </div>
                    </a>
                    <div class="collapse" id="pagesCollapseAccount" data-bs-parent="#accordionSidenavPagesMenu">
                      <nav class="sidenav-menu-nested nav">
                        <a class="nav-link {% if page == 'account-detail' %}active{% endif %}" href="/../mon-blog/adminDashboard/account-detail">Détails du Profile</a>
                        <a class="nav-link {% if page == 'edit-account' %}active{% endif %}" href="/../mon-blog/adminDashboard/edit-account">Modifier le Profile</a>
                        <a class="nav-link {% if page == 'create-admin' %}active{% endif %}" href="/../mon-blog/adminDashboard/create-admin">Créer un Admin</a>
                        <a class="nav-link {% if page == 'admin-list' %}active{% endif %}" href="/../mon-blog/adminDashboard/admin-list">Liste des Admin</a>
                      </nav>
                    </div>
                    <!-- Nested Sidenav Accordion (Apps -> User Management)-->
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#appsCollapseUserManagement" aria-expanded="false" aria-controls="appsCollapseUserManagement">
                      Comptes visiteurs
                      <div class="sidenav-collapse-arrow">
                        <i class="fas fa-angle-down"></i>
                      </div>
                    </a>
                    <div class="collapse" id="appsCollapseUserManagement" data-bs-parent="#accordionSidenavAppsMenu">
                      <nav class="sidenav-menu-nested nav">
                        <a class="nav-link {% if page == 'visitor-list' %}active{% endif %}" href="/../mon-blog/adminDashboard/visitor-list">Liste des Visiteurs</a>
                      </nav>
                    </div>
                  </nav>
                </div>
                <!-- Sidenav Heading (UI Toolkit)-->
                <div class="sidenav-menu-heading">Gestion des Posts</div>
                <!-- Sidenav Accordion (Posts)-->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#appsCollapsePostsManagement" aria-expanded="false" aria-controls="appsCollapsePostsManagement">
                  <div class="nav-link-icon">
                    <i data-feather="package"></i>
                  </div>
                  Posts
                  <div class="sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                  </div>
                </a>
                <div class="collapse" id="appsCollapsePostsManagement" data-bs-parent="#accordionSidenavAppsMenu">
                  <!-- Nested Sidenav Accordion (Apps -> Posts Management)-->
                  <nav class="sidenav-menu-nested nav">
                    <a class="nav-link {% if page == 'list-post' %}active{% endif %}" href="/../mon-blog/adminDashboard">Liste des Posts</a>
                    <a class="nav-link {% if page == 'create-post' %}active{% endif %}" href="/../mon-blog/adminDashboard/blog-management&create-post">Créer un Post</a>
                  </nav>
                </div>
                <!-- Sidenav Heading (Addons)-->
                <div class="sidenav-menu-heading">
                  Gestion des messages
                </div>
                <!-- Nested Sidenav Accordion (Apps -> User Management)-->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#appsCollapseMessage" aria-expanded="false" aria-controls="appsCollapseMessage">
                  <div class="nav-link-icon">
                    <i data-feather="mail"></i>
                  </div>
                  Messages
                  <div class="sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                  </div>
                </a>
                <!-- Sidenav Link (Charts)-->
                <div class="collapse" id="appsCollapseMessage" data-bs-parent="#accordionSidenavAppsMenu">
                  <nav class="sidenav-menu-nested nav">
                    <a class="nav-link {% if page == 'contacts' %}active{% endif %}" href="/../mon-blog/adminDashboard/contacts/{{ 1 }}">
                      <div class="nav-link-icon">
                        <i data-feather="book"></i>
                      </div>
                      Contactes
                    </a>
                    <!-- Sidenav Link (Tables)-->
                    <a class="nav-link {% if page == 'comments' %}active{% endif %}" href="/../mon-blog/adminDashboard/comments/{{ 1 }}">
                      <div class="nav-link-icon">
                        <i data-feather="message-square"></i>
                      </div>
                      Commentaires
                    </a>
                  </nav>
                </div>
              </div>
              <!-- Sidenav Footer-->
              <div class="sidenav-footer">
                <div class="sidenav-footer-content">
                  {% if user is defined and user is not null %}
                    <div class="sidenav-footer-subtitle">Vous êtes connecté en tant que :</div>
                    <div class="sidenav-footer-title">Admin  {{ user.userName }}</div>
                  {% endif %}
                </div>
              </div>
            </nav>
          </div>
          <div id="layoutSidenav_content">
            <main>
              {% block mainContent %}
                <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                  {% block mainHeader %}
                    <div class="container-xl px-4">
                      <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                          <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                              <div class="page-header-icon">
                                <i data-feather="activity"></i>
                              </div>
                              Tableau de Bord
                            </h1>
                            <div class="page-header-subtitle">Administration du Blog</div>
                          </div>
                          <div class="col-12 col-xl-auto mt-4">
                            <div class="input-group input-group-joined border-0" style="width: 16.5rem">
                              <span class="input-group-text">
                                <i class="text-primary" data-feather="calendar"></i>
                              </span>
                              <input class="form-control ps-0 pointer" id="litepickerRangePlugin" placeholder="Select date range..."/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endblock %}
                </header>
                <!-- Main page content-->
                {% block mainPageContent %}{% endblock %}
              {% endblock %}
            </main>
            <footer class="footer-admin mt-auto footer-light">
              <div class="container-xl px-4">
                <div class="row">
                  <div class="col-md-6 small">Copyright &copy; Adjoukou AGBELOU 2023</div>
                  <div class="col-md-6 text-md-end small">
                    <a href="#!">Politique de Confidentialité</a>
                    &middot;
                    <a href="#!">Conditions générales</a>
                  </div>
                </div>
              </div>
            </footer>
          </div>
        </div>
        {% block AdminJsLink %}
          <script src="/../mon-blog/public/js/boostrapBundleMinScripts.js"></script>
          <script src="/../mon-blog/public/js/adminJs/adminScripts.js"></script>
          <script src="/../mon-blog/public/js/adminJs/markdown.js"></script>
          <script src="/../mon-blog/public/js/adminJs/litepicker.js"></script>
          <script src="/../mon-blog/public/js/adminJs/datatables/datatables-simple-demo.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
        {% endblock %}
      {% endblock %}
    </body>

  </html>
