<!DOCTYPE html>
<html lang="fr">

  {% block head %}
    <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
      <meta name="description" content=""/>
      <meta name="author" content=""/>
      <title>Adjoukou AGBELOU Blog</title>
      <!-- Favicon-->
      <link rel="icon" type="image/x-icon" href="/../mon-blog/public/assets/img/logo.png"/>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
      <!-- font awesome icon-->
      <script data-search-pseudo-elements="data-search-pseudo-elements" defer="defer" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-- Core theme CSS (includes Bootstrap)-->
      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
      <link href="/../mon-blog/public/css/booststrapStyles.css" rel="stylesheet"/>
      <link href="/../mon-blog/public/css/myStyles.css" rel="stylesheet"/>
      <link href="/../mon-blog/public/css/uiStyles.css" rel="stylesheet"/>
    </head>
  {% endblock %}

  <!-- Page Body-->
  <body>
    <div id="layoutDefault">
      <div id="layoutDefault_content">
        <main>
        {% block main %}
          <!-- Navbar-->            
          <!-- nav container -->
          {% block navContainer %}
            <nav class="navbar navbar-marketing navbar-expand-lg bg-transparent navbar-dark fixed-top">
              <div class="container px-5">
                <a class="navbar-brand text-white" href="/../mon-blog">Adjoukou AGBELOU</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i data-feather="menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link {% if page == 'home' %}active{% endif %}" href="/../mon-blog">Accueil</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {% if page == 'posts' %}active{% endif %}" href="/../mon-blog/posts">Articles</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {% if page == 'contact' %}active{% endif %}" href="/../mon-blog/contact">Contact</a>
                    </li>
                  </ul>
                  {%if user is defined and user is not null %}
                    <a class="btn fw-500 ms-lg-4 btn-teal {% if page == 'logout' %}active{% endif %}" href="/../mon-blog/logout">
                      Se déconnecter
                      <i class="ms-2" data-feather="log-out"></i>
                    </a>
                  {% else %}

                    <a class="btn fw-500 ms-lg-4 btn-white {% if page == 'login' %}active{% endif %}" href="/../mon-blog/login">
                      Se connecter
                      <i class="ms-2" data-feather="log-in"></i>
                    </a>
                  {% endif %}
                </div>
              </div>
            </nav>
          {% endblock %}

          <!-- Page Header-->
          {% block header %}{% endblock %}

          <!-- Page Section-->
          <section class="bg-light py-10">
            {% block section %}{% endblock %}
            <div class="svg-border-rounded text-dark">
              <!-- Rounded SVG Border-->
              <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 144.54 17.34" preserveaspectratio="none" fill="currentColor">
                <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
              </svg>
            </div>
          </section>
        {% endblock %}
        </main>
      </div>
      <!-- Page footer-->
      <div id="layoutDefault_footer">
        <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark">
          <div class="container px-5">
            <div class="row gx-5">
              <div class="col-lg-6 col-md-6">
                <div class="footer-brand">Adjoukou AGBELOU</div>
                <div class="mb-3">Développeur PHP/SYMFONY</div>
                <div class="icon-list-social mb-5">
                  <a class="icon-list-social-link" href="https://www.linkedin.com/in/mike-adjoukou-agbelou-23640098/" target="blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                  <a class="icon-list-social-link" href="https://github.com/Mike031289">
                    <i class="fab fa-github" target="blank"></i>
                  </a>
                  <a class="icon-list-social-link" href="https://dmdprod.com/developpeur_adjoukou-agbelou/" target="blank">
                    <i class="fas fa-globe"></i>
                  </a>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="text-uppercase-expanded text-xs mb-4">Liens</div>
                <ul class="list-unstyled mb-0">
                  <li class="mb-2 nav-item">
                    <a class="nav-link {% if page == 'home' %}active{% endif %}" href="/../mon-blog">Accueil</a>
                  </li>
                  <li class="mb-2 nav-item">
                    <a class="nav-link {% if page == 'posts' %}active{% endif %}" href="/../mon-blog/posts">Articles</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if page == 'contact' %}active{% endif %}" href="/../mon-blog/contact">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <hr class="my-5"/>
            <div class="row gx-5 align-items-center">
              <div class="col-md-6 small">Copyright &copy; dmdprod 2023</div>
              <div class="col-md-6 text-md-end small">
                <a href="#!">Politique de Confidentialité</a>
                |
                <a href="#!">Conditions Générales D'utilisation</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    {% block JsLink %}
      <!-- Bootstrap core JS-->
      <!-- Core theme JS-->
      <script src="/../mon-blog/public/js/boostrapBundleMinScripts.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="/../mon-blog/public/js/passwordShow.js"></script>
      <script src="/../mon-blog/public/js/blogJs.js"></script>
    {% endblock %}
  </body>
</html>
