{% extends 'templates/adminLayout.html.twig' %}
{% set page = 'admin-profile' %}

{% block mainHeader %}
  <div class="container-fluid px-4">
    <div class="page-header-content">
      <div class="row align-items-center justify-content-between pt-3">
        <div class="col-auto mb-3">
          <h1 class="page-header-title">
            <div class="page-header-icon">
            <i class="fas fa-user"></i>
            </div>
            Détails du Profile
          </h1>
          <div class="page-header-subtitle">Modifier les informations du profile</div>
        </div>
        <div class="col-12 col-xl-auto mb-3">
          <a class="btn btn-sm btn-light text-primary" href="/../mon-blog/adminDashboard">
            <i class="me-1" data-feather="arrow-left"></i>
            Liste des Postes
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block mainPageContent %}
  <div class="container px-4">
    <div class="col-auto m-3">
      <h1 class="page-header-title">
        <button class="btn btn-purple btn-icon" type="button">
          <i class="fas fa-user"></i>
        </button>
        Détail du Profile
      </h1>
    </div>
    {% block content %}
      <div class="card-header-actions">
        <main>
          <!-- Main page content-->
          <div class="container-xl px-4 mt-4">
            <!-- Account page navigation-->
            <nav class="nav nav-borders">
              <a class="nav-link active ms-0" href="/../mon-blog/adminDashboard/admin-profile">Profile</a>
            </nav>
            <hr class="mt-0 mb-4"/>
            <div class="row">
              <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                  <div class="card-header">Photo de Profile</div>
                  <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="/../mon-blog/public/assets/img/illustrations/profiles/profile-1.png" alt="admin avatar"/>
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <!-- Profile picture upload button-->
                    <button class="btn btn-primary" type="button">Changer ma Photo de Profile</button>
                  </div>
                </div>
              </div>
              <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                  <div class="card-header">Détails du compte</div>
                  <div class="card-body">
                    <form>
                      <!-- Form Group (username)-->
                      <div class="mb-3">
                        <label class="small mb-1" for="inputUsername">Nom d'utilisateur (le nom qui s'affichera sur votre profile)</label>
                        <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" name="userName"name="userName"  value="{{user.userName}}"/>
                      </div>
                      <!-- Form Group (email address)-->
                      <div class="mb-3">
                        <label class="small mb-1" for="inputEmailAddress">Adresse Email</label>
                        <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="{{user.email}}"/>
                      </div>
                      <!-- Form Row-->
                      <div class="row gx-3 mb-3">
                        <!-- Form Group (phone number)-->
                        <div class="col-md-6">
                          <label class="small mb-1" for="passWord">Mot de passe</label>
                          <input class="form-control" id="inputPassWord" type="password" name="passWord" required="required" placeholder="Entrez le nouveau mot de passe"/>
                        </div>
                        <!-- Form Group (birthday)-->
                        <div class="col-md-6">
                          <label class="small mb-1" for="passWord">Confirmation mot de passe</label>
                          <input class="form-control" id="inputPassWordConfirm" type="password" name="passWordConfirm" placeholder="Confirmez votre nouveau mot de passe"/>
                        </div>
                      </div>
                      
                      <!-- Save changes button-->
                      <button class="btn btn-primary" type="button">Enrégistrer</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>

      </div>

    {% endblock %}
  </div>
{% endblock %}
