{% extends 'templates/adminLayout.html.twig' %}
{% set page = 'delete-post' %}

{% block mainHeader %}
  <div class="container-xl px-4">
    <div class="page-header-content pt-4">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto mt-4">
          <h1 class="page-header-title">
            <div class="page-header-icon">
              <i data-feather="alert-triangle"></i>
            </div>
            Suppression du Post
          </h1>
          <div class="page-header-subtitle">Alert Vous êtes sur le point de supprimer un post</div>
        </div>
        <div class="col-12 col-xl-auto mb-3">
          <a class="btn btn-sm btn-light text-primary" href="/../mon-blog/adminDashboard">
            <i class="me-1" data-feather="arrow-left"></i>
            Liste des Posts
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block mainPageContent %}
  <!-- Main page content-->
  <div class="container-fluid px-4">
    <form class="row gx-4 mt-2" method="POST" enctype="multipart/form-data">
      {% if post is empty %}
        {% if success is defined %}
          <div class="alert alert-success" role="alert">
            {{ success }}
          </div>
        {% endif %}
      {% else %}
        {% if post %}
          <div class="col-lg-8 mb-4">

            <div class="card mb-4">
              <div class="card-header">Titre du Post</div>
              <div class="card-body">{{ post.title }}</div>
            </div>
            <div class="card card-header-actions mb-4">
              <div class="card-header">
                Aperçu du Post
                <i class="text-muted" data-feather="info" data-bs-toggle="tooltip" data-bs-placement="left" title="petit extrait du post"></i>
              </div>
              <div class="card-body">
                {{ post.postpreview }}
              </div>
            </div>
            <div class="card card-header-actions mb-4 mb-lg-0">
              <div class="card-header">
                Contenu du Post
                <i class="text-muted" data-feather="info" data-bs-toggle="tooltip" data-bs-placement="left" title="Contenu du post (tous les paragraphes etc)"></i>
              </div>
              <div class="card-body">
                {{ post.content }}
              </div>
            </div>

          </div>
        {% endif %}
        <div class="container col-lg">
          <div class="card card-header-actions">
            <div class="card-header">
              Supprimerer
              <i class="text-muted" data-feather="info" data-bs-toggle="tooltip" data-bs-placement="left" title="Ce poste sera supprimé définitivement"></i>
            </div>
            <div class="card-body">
              <div class="container d-grid col-lg-6">
                <button type="submit" class="fw-500 btn btn-danger">Supprimer</button>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

    </form>
  </div>
{% endblock %}
