{% extends 'templates/blogLayout.html.twig' %}

{% block main %}
  <!-- nav container -->
  {% block navContainer %}
    <nav class="navbar navbar-marketing navbar-expand-lg bg-dark navbar-dark fixed-top">
      <div class="container bg-dark px-5">
        <a class="navbar-brand text-white" href="/../mon-blog">Adjoukou AGBELOU</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i data-feather="menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% if page == 'home' %}active{% endif %}" href="/../mon-blog">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if page == 'posts' %}active{% endif %}" href="/../mon-blog/posts">Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if page == 'contact' %}active{% endif %}" href="/../mon-blog/contact">Contact</a>
            </li>
          </ul>
          {%if user is defined and user is not null %}
            <a class="btn fw-500 ms-lg-4 btn-teal {% if page == 'logout' %}active{% endif %}" href="/../mon-blog/logout">
              Se déconnecter
              <i class="ms-2" data-feather="log-out"></i>
            </a>
          {% else %}

            <a class="btn fw-500 ms-lg-4 btn-white {% if page == 'login' %}active{% endif %}" href="/../mon-blog/login">
              Se connecter
              <i class="ms-2" data-feather="log-in"></i>
            </a>
          {% endif %}
        </div>
      </div>
    </nav>
  {% endblock %}
  {% block header %}
    <hr class="mt-5 pt-5"/>
  {% endblock %}

  {% block section %}
    <!-- Contenu spécifique de la page 500 -->
    <section class="bg-white py-10">
      <div class="container px-5">
          <div class="row gx-5 justify-content-center">
              <div class="col-lg-6">
                  <div class="text-center mt-4">
                      <img class="img-fluid p-4" src="/../mon-blog/public/assets/img/error-img/500-error.svg" alt="Erreur 500" />
                      <p class="lead">Oupss !! Le serveur a rencontré une erreur interne. Veuillez contacter l'administrateur pour plus de détails</p>
                      <a class="text-arrow-icon" href="/../mon-blog/contact">
                        <i class="ms-0 me-1" data-feather="arrow-left"></i>
                          Contacter l'administrateur
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <div class="svg-border-rounded text-dark">
          <!-- Rounded SVG Border-->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
      </div>
    </section>
  {% endblock %}
{% endblock %}
