{% extends 'templates/blogLayout.html.twig' %}

{% set page = 'home' %}
{% block main %}
  <!-- nav container -->
  {% block navContainer %}
    <nav class="navbar navbar-marketing navbar-expand-lg bg-secondary navbar-dark fixed-top">
      <div class="container bg-secondary px-5">
        <a class="navbar-brand text-white" href="/../mon-blog/">Adjoukou AGBELOU</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i data-feather="menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% if page == 'home' %}active{% endif %}" href="/../mon-blog/">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if page == 'posts' %}active{% endif %}" href="/../mon-blog/posts/{{ 1 }}">Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if page == 'contact' %}active{% endif %}" href="/../mon-blog/contact">Contact</a>
            </li>
          </ul>
          {%if user is defined and user is not null %}
            <a class="btn fw-500 ms-lg-4 btn-teal {% if page == 'logout' %}active{% endif %}" href="/../mon-blog/logout">
              Se déconnecter
              <i class="ms-2" data-feather="log-out"></i>
            </a>
          {% else %}

            <a class="btn fw-500 ms-lg-4 btn-white {% if page == 'login' %}active{% endif %}" href="/../mon-blog/login">
              Se connecter
              <i class="ms-2" data-feather="log-in"></i>
            </a>
          {% endif %}
        </div>
      </div>
    </nav>
  {% endblock %}
  {% block header %}
    <!-- Page Header-->
    <header id="home-header" class="page-header-ui page-header-ui-light bg-white bg-img-cover">
      <div class="page-header-ui-content">
        <div class="container px-5">
          <div class="row gx-5 align-items-center">
            <div class="col-lg-6 d-lg-none" data-aos-delay="100"><img class="img-fluid" src="/../mon-blog/public/assets/img/backgrounds/Adjoukou-Agbelou-img.jpg" alt="Adjoukou AGBELOU Développeur Concepteur D'application"/>
            </div>
            <div class="col-lg-6 mb-5">
              <h1 class="page-header-ui-title mt-5">Concepteur Développeur D'Application PHP/SYMFONY</h1>
              <p class="page-header-ui-text mb-5">Passionné par la conception d'applications web, d'outils, et d'applications dédiés au partage et à l'innovation, je souhaite intégrer votre entreprise au sein d'une équipe dynamique. Mon objectif est de poursuivre mon perfectionnement et de mettre en œuvre mes compétences dans un environnement propice à l'épanouissement professionnel</p>
              <div class="d-flex flex-column flex-sm-row">
                <a class="btn btn-lg btn-secondary fw-500 me-sm-3 mb-3 mb-sm-0" href="tel:+33662272975">
                  Appeler Ici
                  <i class="ms-2" data-feather="arrow-right"></i>
                </a>
                <a class="btn btn-lg btn-secondary-soft text-secondary fw-500" href="/../mon-blog/public/assets/img/mon-cv/CV-Adjoukou_AGBELOU_RQTH_FullStack_PHP-Symfony_WordPress.pdf" target="_blank">
                  <i class="fas fa-file-pdf"></i>
                  Télécharger mon CV
                </a>
              </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block" data-aos-delay="100"><img class="img-fluid" src="/../mon-blog/public/assets/img/backgrounds/Adjoukou-Agbelou-img.jpg" alt="Adjoukou AGBELOU Développeur Concepteur D'application"/>
            </div>
          </div>
        </div>
        <div class="svg-border-rounded text-light">
          <!-- Rounded SVG Border-->
          <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 144.54 17.34" preserveaspectratio="none" fill="currentColor">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
          </svg>
        </div>
      </header>
    {% endblock %}

    <!-- Page Section-->
    <section class="bg-light py-10">
      {% block section %}

        <div class="container px-5">
          <h1 class="text-center mb-5 text-secondary">COMPETENCES</h1>
          <div class="row gx-5">

            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="icon-stack icon-stack-lg bg-purple-soft text-purple mb-4">
                <i data-feather="book"></i>
              </div>
              <h3 class="text-secondary">Analyse et Recueil de Besoins</h3>
              <p class="mb-5">Je suis spécialisé dans l'analyse exhaustive des besoins clients et la rédaction précise de cahiers des charges pour garantir le succès des projets</p>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="icon-stack icon-stack-lg bg-purple-soft text-purple mb-4">
                <i data-feather="layout"></i>
              </div>
              <h3 class="text-secondary">CMS</h3>
              <p class="mb-5">Compétent dans le développement d'applications web avec expertise particulière dans la création et la personnalisation de sites en CMS, notamment avec WordPress</p>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="icon-stack icon-stack-lg bg-purple-soft text-purple mb-4">
                <i data-feather="layers"></i>
              </div>
              <h3 class="text-secondary">Conception et Modelisation de Données</h3>
              <p class="mb-5">Spécialisé dans la modélisation avec UML, la création de cas d'utilisation (Use Case) et la conception de modèles conceptuels de données (MCD), garantissant une représentation visuelle précise des systèmes</p>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="icon-stack icon-stack-lg bg-purple-soft text-purple mb-4">
                <i data-feather="github"></i>
              </div>
              <h3 class="text-secondary">Versioning du Projet</h3>
              <p class="mb-5">Expérience approfondie dans le versioning des projets avec Git, GitHub, et d'autres outils, assurant une gestion efficace des modifications, la collaboration transparente, et le suivi du développement logiciel</p>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="icon-stack icon-stack-lg bg-purple-soft text-purple mb-4">
                <i data-feather="smartphone"></i>
              </div>
              <h3 class="text-secondary">Responsive Design Moderne</h3>
              <p class="mb-5">Expert en conception responsive avec une approche moderne, utilisant Bootstrap, CSS, HTML, JavaScript, et jQuery pour créer des interfaces web dynamiques et adaptées à toutes les tailles d'écrans</p>
            </div>

            <div class="col-lg-4">
              <div class="icon-stack icon-stack-lg bg-purple-soft text-purple mb-4">
                <i data-feather="code"></i>
              </div>
              <h3 class="text-secondary">Programmation Orienté Objet</h3>
              <p class="mb-5">Maîtrise avancée de la programmation orientée objet en PHP 8, permettant la création de code modulaire, réutilisable et structuré pour des applications web robustes et évolutives</p>
            </div>

          </div>
        </div>

      {% endblock %}
    </section>

    <h1 class="text-center p-5 bg-white mb-0 text-dark">PROJETS REALISÉS</h1>

    <section class="bg-dark py-10 text-light">
      <!-- Le contenu de votre première diapositive -->
      <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-md-9 col-lg-6 order-1 order-lg-0" data-aos="fade-right">
            <div class="content-skewed content-skewed-right">
              <img class="content-skewed-item img-fluid shadow-lg rounded-3" src="/../mon-blog/public/assets/img/portfolio-Img/admin-dashboard-descktop-mobile.jpg" alt="Adjoukou-AGBELOU blog"/>
            </div>
          </div>
          <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0" data-aos="fade-left">
            <div class="mb-5 text-light">
              <h2 class="text-info">Projet de Formation</h2>
              <h3 class="text-info">Blog avec panel d'administration</h3>
              <p class="lead">Ce Projet individuel d'école consistait à Concevoir et implémenter l'espace d'administration d'un blog. Développer les pages permettant d’administrer un blog via une authentification</p>
            </div>
            <div class="row gx-5">
              <div class="mb-4">
                <h6 class="text-white">Compétences évaluées</h6>
                <p class="mb-2 small">Assurer le suivi qualité d’un projet, 
                  Proposer un code propre et facilement évolutif, 
                  Créer et maintenir l’architecture technique du site
                  Créer une page web permettant de recueillir les informations saisies par un internaute
                  Estimer une tâche et tenir les délais
                  Gérer ses données avec une base de données
                  Rédiger les spécifications détaillées du projet
                  Analyser un cahier des charges
                  Choisir une solution technique adaptée parmi les solutions existantes si cela est pertinent
                  Conceptualiser l'ensemble de son application en décrivant sa structure (Entités / Domain Objects)</p>
                {# <p class="mb-2 small">Analyse et recueil d'informations, conception et modélisation de données(UML et autres diagrammes), Conception de la Base de Données, PHP-8, Programation Orienté Object avec le CRUD, MVC, fonctionnement d'un framework, réalisation de tests, utilisation de composer et des bibliothèques, methodologie agile, git</p> #}
                <a class="small text-arrow-icon text-info" href="https://github.com/Mike031289/openClassrooms_projet-5_blog" target="_blank">
                  Lien vers le projet
                  <i data-feather="arrow-right"></i>
                </a>
              </div>
              <!-- Ajoutez d'autres éléments au besoin -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light py-10 text-dark">
      <!-- Le contenu de votre deuxième diapositive -->
      <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-md-9 col-lg-6 order-0 order-lg-1 mb-5" data-aos="fade-left">
            <div class="content-skewed content-skewed-left">
              <img class="content-skewed-item img-fluid shadow-lg rounded-3" src="/../mon-blog/public/assets/img/portfolio-Img/LBA-descktop-mobile.jpg" alt="les Bâtisseurs"/>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-0 mb-5 mb-lg-0" data-aos="fade-right">
            <div class="mb-5 text-dark">
              <h2 class="text-info">LES BÂTISSEURS SAS</h2>
              <p class="lead">Projet réalisé en entreprise lors de mon alternance. L'objectif était de concevoir et développer un site vitrine et un espace membre de l'entreprise</p>
            </div>
            <div class="row gx-5">
              <div class="col-md-6 mb-4">
                <h6 class="text-dark">Compétences travaillées</h6>
                <p class="mb-2 small">Analyse et recueil d'informations, conception et modélisation de données(UML et autres diagrammes), Conception de la Base de Données, PHP-7, Programation Orienté Object, MVC, réalisation de tests fonctionnels, methodologie agile scrum, git</p>
                <a class="small text-arrow-icon text-info" href="https://github.com/Mike031289/openClassrooms_projet-5_blog" target="_blank">
                  Lien vers le projet
                  <i data-feather="arrow-right"></i>
                </a>
              </div>
              <!-- Ajoutez d'autres éléments au besoin -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark py-10 text-light">
      <!-- Le contenu de votre première diapositive -->
      <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-md-9 col-lg-6 order-1 order-lg-0" data-aos="fade-right">
            <div class="content-skewed content-skewed-right">
              <img class="content-skewed-item img-fluid shadow-lg rounded-3" src="/../mon-blog/public/assets/img/portfolio-Img/asi-bat-descktop-mobile.jpg" alt="asi-bat"/>
            </div>
          </div>
          <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0" data-aos="fade-left">
            <div class="mb-5 text-light">
              <h2 class="text-info">ASI-BAT</h2>
              <p class="lead">When you purchase this UI Kit, you get access to a robust suite of powerful tools and components to help you build your next landing page quickly and easily.</p>
            </div>
            <div class="row gx-5">
              <div class="col-md-6 mb-4">
                <h6 class="text-white">Compétences travaillées</h6>
                <p class="mb-2 small">Analyse et recueil d'informations, conception et modélisation de données(UML et autres diagrammes), Conception de la Base de Données, PHP-8, Programation Orienté Object, MVC, fonctionnement d'un framework, réalisation de tests, utilisation de composer et des bibliothèques, methodologie agile, git</p>
                <a class="small text-arrow-icon text-info" href="https://github.com/Mike031289/openClassrooms_projet-5_blog" target="_blank">
                  Lien vers le projet
                  <i data-feather="arrow-right"></i>
                </a>
              </div>
              <!-- Ajoutez d'autres éléments au besoin -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light py-10 text-dark">
      <!-- Le contenu de votre deuxième diapositive -->
      <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-md-9 col-lg-6 order-0 order-lg-1 mb-5" data-aos="fade-left">
            <div class="content-skewed content-skewed-left">
              <img class="content-skewed-item img-fluid shadow-lg rounded-3" src="/../mon-blog/public/assets/img/portfolio-Img/mon-blog-descktop-mobile.jpg" alt="Adjoukou-AGBELOU blog"/>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-0 mb-5 mb-lg-0" data-aos="fade-right">
            <div class="mb-5 text-dark">
              <h2 class="text-info">MON-BLOG Blog</h2>
              <p class="lead">Ce Projet individuel d'école consistait à Concevoir et implémenter mon blog personnel. Développer la page d'accueil où je me présente avec mes informations de contact, les pages permettant de consulter les articles, la page contact, un espace membre avec un système d'inscription et d'authentification d'un membre en lui donnant droit d'ajouter des commentaires aux articles</p>
            </div>
            <div class="row gx-5">
              <div class="col-md-6 mb-4">
                <h6 class="text-dark">Compétences évaluées</h6>
                <p class="mb-2 small">Analyse et recueil d'informations, conception et modélisation de données(UML et autres diagrammes), Conception de la Base de Données, PHP-8, Programation Orienté Object, MVC, fonctionnement d'un framework, réalisation de tests, utilisation de composer et des bibliothèques, methodologie agile, git</p>
                <a class="small text-arrow-icon text-info" href="https://github.com/Mike031289/openClassrooms_projet-5_blog" target="_blank">
                  Lien vers le projet
                  <i data-feather="arrow-right"></i>
                </a>
              </div>
              <!-- Ajoutez d'autres éléments au besoin -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark py-10 text-light">
      <!-- Le contenu de votre première diapositive -->
      <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-md-9 col-lg-6 order-1 order-lg-0" data-aos="fade-right">
            <div class="content-skewed content-skewed-right">
              <img class="content-skewed-item img-fluid shadow-lg rounded-3" src="/../mon-blog/public/assets/img/portfolio-Img/coming-soon-lba-descktop-mobile.jpg" alt="Coming-soon"/>
            </div>
          </div>
          <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0" data-aos="fade-left">
            <div class="mb-5 text-light">
              <h2 class="text-info">Page Comming Soon</h2>
              <p class="lead">When you purchase this UI Kit, you get access to a robust suite of powerful tools and components to help you build your next landing page quickly and easily.</p>
            </div>
            <div class="row gx-5">
              <div class="col-md-6 mb-4">
                <h6 class="text-white">Compétences travaillées</h6>
                <p class="mb-2 small">Analyse et recueil d'informations, conception et modélisation de données(UML et autres diagrammes), Conception de la Base de Données, PHP-8, Programation Orienté Object, MVC, fonctionnement d'un framework, réalisation de tests, utilisation de composer et des bibliothèques, methodologie agile, git</p>
                <a class="small text-arrow-icon text-info" href="https://github.com/Mike031289/openClassrooms_projet-5_blog" target="_blank">
                  Lien vers le projet
                  <i data-feather="arrow-right"></i>
                </a>
              </div>
              <!-- Ajoutez d'autres éléments au besoin -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light py-10 text-dark">
      <!-- Le contenu de votre deuxième diapositive -->
      <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-md-9 col-lg-6 order-0 order-lg-1 mb-5" data-aos="fade-left">
            <div class="content-skewed content-skewed-left">
              <img class="content-skewed-item img-fluid shadow-lg rounded-3" src="/../mon-blog/public/assets/img/portfolio-Img/Chalet-Caviar-desktop-mobile.jpg" alt="Location de Chalets"/>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-0 mb-5 mb-lg-0" data-aos="fade-right">
            <div class="mb-5 text-dark">
              <h2 class="text-info">Chalet Et Caviar</h2>
              <p class="lead">When you purchase this UI Kit, you get access to a robust suite of powerful tools and components to help you build your next landing page quickly and easily.</p>
            </div>
            <div class="row gx-5">
              <div class="col-md-6 mb-4">
                <h6 class="text-dark">Compétences travaillées</h6>
                <p class="mb-2 small">Analyse et recueil d'informations, conception et modélisation de données(UML et autres diagrammes), Conception de la Base de Données, PHP-8, Programation Orienté Object, MVC, fonctionnement d'un framework, réalisation de tests, utilisation de composer et des bibliothèques, methodologie agile, git</p>
                <a class="small text-arrow-icon text-info" href="https://dmdprod.com/chaletcaviar" target="_blank">
                  Lien vers le projet
                  <i data-feather="arrow-right"></i>
                </a>
              </div>
              <!-- Ajoutez d'autres éléments au besoin -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark py-10 text-light">
      <!-- Le contenu de votre première diapositive -->
      <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-md-9 col-lg-6 order-1 order-lg-0" data-aos="fade-right">
            <div class="content-skewed content-skewed-right">
              <img class="content-skewed-item img-fluid shadow-lg rounded-3" src="/../mon-blog/public/assets/img/portfolio-Img/LesFilms-PleinAire-Desktop-mobile.jpg" alt="Les films de plein air"/>
            </div>
          </div>
          <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0" data-aos="fade-left">
            <div class="mb-5 text-light">
              <h2 class="text-info">Les Films De Plein Air</h2>
              <p class="lead">When you purchase this UI Kit, you get access to a robust suite of powerful tools and components to help you build your next landing page quickly and easily.</p>
            </div>
            <div class="row gx-5">
              <div class="col-md-6 mb-4">
                <h6 class="text-white">Compétences travaillées</h6>
                <p class="mb-2 small">Analyse et recueil d'informations, conception et modélisation de données(UML et autres diagrammes), Conception de la Base de Données, PHP-8, Programation Orienté Object, MVC, fonctionnement d'un framework, réalisation de tests, utilisation de composer et des bibliothèques, methodologie agile, git</p>
                <a class="small text-arrow-icon text-info" href="https://dmdprod.com/filmspleinair" target="_blank">
                  Lien vers le projet
                  <i data-feather="arrow-right"></i>
                </a>
              </div>
              <!-- Ajoutez d'autres éléments au besoin -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light py-10 text-dark">
      <!-- Le contenu de votre deuxième diapositive -->
      <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-md-9 col-lg-6 order-0 order-lg-1 mb-5" data-aos="fade-left">
            <div class="content-skewed content-skewed-left">
              <img class="content-skewed-item img-fluid shadow-lg rounded-3" src="/../mon-blog/public/assets/img/portfolio-Img/myma-chocolat-descktop-mobile.jpg" alt="Myma Chocolat"/>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-0 mb-5 mb-lg-0" data-aos="fade-right">
            <div class="mb-5 text-dark">
              <h2 class="text-info">MymaChocolat Site Vitrine</h2>
              <p class="lead">When you purchase this UI Kit, you get access to a robust suite of powerful tools and components to help you build your next landing page quickly and easily.</p>
            </div>
            <div class="row gx-5">
              <div class="col-md-6 mb-4">
                <h6 class="text-dark">Compétences travaillées</h6>
                <p class="mb-2 small">Analyse et recueil d'informations, conception et modélisation de données(UML et autres diagrammes), Conception de la Base de Données, PHP-8, Programation Orienté Object, MVC, fonctionnement d'un framework, réalisation de tests, utilisation de composer et des bibliothèques, methodologie agile, git</p>
                <a class="small text-arrow-icon text-info" href="https://github.com/Mike031289/openClassrooms_projet-5_blog" target="_blank">
                  Lien vers le projet
                  <i data-feather="arrow-right"></i>
                </a>
              </div>
              <!-- Ajoutez d'autres éléments au besoin -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark py-10 text-light">
      <!-- Le contenu de votre première diapositive -->
      <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-md-9 col-lg-6 order-1 order-lg-0" data-aos="fade-right">
            <div class="content-skewed content-skewed-right">
              <img class="content-skewed-item img-fluid shadow-lg rounded-3" src="/../mon-blog/public/assets/img/portfolio-Img/myma-chocolat-dashbord-descktop-mobile.jpg" alt="Myma Chocolat Espace Admin"/>
            </div>
          </div>
          <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0" data-aos="fade-left">
            <div class="mb-5 text-light">
              <h2 class="text-info">MymaChocolat Espace Admin</h2>
              <p class="lead">When you purchase this UI Kit, you get access to a robust suite of powerful tools and components to help you build your next landing page quickly and easily.</p>
            </div>
            <div class="row gx-5">
              <div class="col-md-6 mb-4">
                <h6 class="text-white">Compétences travaillées</h6>
                <p class="mb-2 small">Analyse et recueil d'informations, conception et modélisation de données(UML et autres diagrammes), Conception de la Base de Données, PHP-8, Programation Orienté Object, MVC, fonctionnement d'un framework, réalisation de tests, utilisation de composer et des bibliothèques, methodologie agile, git</p>
                <a class="small text-arrow-icon text-info" href="https://github.com/Mike031289/openClassrooms_projet-5_blog" target="_blank">
                  Lien vers le projet
                  <i data-feather="arrow-right"></i>
                </a>
              </div>
              <!-- Ajoutez d'autres éléments au besoin -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Répétez le schéma pour les sections suivantes -->

    <section class="bg-white py-10">
      <div class="container px-5">
        <div class="text-uppercase-expanded small mb-2">Contact</div>
        <hr class="mt-0 mb-5"/>
        <div class="row gx-5">
          <div class="col-lg-8 mb-4 mb-lg-0">
            <h3>Adjoukou AGBELOU</h3>
            <p class="lead mb-0">
              <a class="text-info" href="tel:+33662272975">+33 662272975</a>
            </p>
            <a class="text-secondary" href="mailto:mike.agbelou@gmail.com">mike.agbelou@gmail.com</a>
          </div>
          <div class="col-lg-4 text-lg-end">
            <a class="btn btn-teal btn-lg fw-500" href="/../mon-blog/public/assets/img/mon-cv/CV-Adjoukou_AGBELOU_RQTH_FullStack_PHP-Symfony_WordPress.pdf" target="_blank">
              <i class="fas fa-file-pdf text-white-75 me-2"></i>
              Télécharger mon CV
            </a>
          </div>
        </div>
      </div>
    </section>
    <div class="svg-border-angled text-dark">
      <!-- Angled SVG Border-->
      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100" preserveaspectratio="none" fill="currentColor">
        <polygon points="0,100 100,0 100,100"></polygon>
      </svg>
    </div>
  {% endblock %}
